
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #c7fcec;
        font-family: 'Jost', sans-serif;
    }
    
    h1 {
        font-size: 200px;
        text-align: center;
        text-transform: uppercase;
        background: url(https://cbimg9.com/graphics/07/07/08/33123b.gif);
        -webkit-background-clip: text;
        color: transparent;
        animation: text-colorfull 15s linear infinite;
    }
    
    @keyframes text-colorfull {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 100% 100%;
        }
    }
</style>
