
<style>
    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5acc3c52-2bff-4892-aa0a-ab70a13ed459/dbl2kwe-83cb9127-e130-4963-9d29-49242d1a8050.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzVhY2MzYzUyLTJiZmYtNDg5Mi1hYTBhLWFiNzBhMTNlZDQ1OVwvZGJsMmt3ZS04M2NiOTEyNy1lMTMwLTQ5NjMtOWQyOS00OTI0MmQxYTgwNTAuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.CpD6pdmJcAfdFDEGw9eDB_rmaC9j9BPOUxxbfzx28iI);
        background-color: rgb(255, 255, 255);
    }
    
    a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 40px;
        border: 10px solid rgb(174, 199, 236);
        padding: 40px 100px;
        position: relative;
        transition: all 1s;
        overflow: hidden;
    }
    
    a:before {
        content: '✔️ Feito';
        color: rgb(0, 90, 0);
        background-color: #c1f1c8f6;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transform: translateY(-100%);
        transition: all .3s;
    }
    
    a:hover:before {
        transform: translateY(0);
    }
</style>
