body,html{margin:0;padding:0;height:100%;}
body{
  background: #ffffff;
  background-size:cover;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
svg{font-weight:bold;max-width:600px;height:100%;}

.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ring
{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: -webkit-box-shadow: 5px 5px 10px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
    background: transparent;
    animation: animate 2s linear infinite;

.text
{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    color: #040404;
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 300px;
    font-size: 3.5em;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(240deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
